.topicContainer {
  width: 100%;
}
.topicWrapper {
  margin: auto;

  max-width: 520px;
}
.topicTitleContainer {
  background-color: white;
  border-bottom: 1px solid lightgrey;
}
.topicTitle {
  padding: 20px;
}
