.topicContainer {
  width: 100%;
  margin-top: 5px;
}
.topicWrapper {
  margin: auto;

  max-width: 520px;
}
.topicTitleContainer {
  background-color: white;
  border: 1px solid #e0dfdc;
  box-sizing: border-box;
}
.topicTitle {
  padding: 20px;
}
