.topicContainer {
  width: 100%;
  min-height: 100%;
  margin-top: 55px;
}
.topicWrapper {
  margin: auto;
  height: 800px;
  max-width: 520px;
  display: flex;
  flex-direction: column;
}
.subjectLink {
  background-color: white;
  padding: 15px;
  margin-top: 2px;
  display: flex;
  align-items: center;
}
.topicWrapper a {
  text-decoration: none;
}

.subjectFolderIcon {
  font-size: 25px;
  margin-right: 5px;
}
.titleContainer {
  background-color: white;
}
.title {
  padding: 20px;
}
