.questionContainer {
  width: 100%;
}
.questionWrapper {
  background-color: white;
  margin-top: 5px;
}
.questionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}
.questionHeaderLink {
  text-decoration: none;

  color: #4c8bca;
  font-size: small;
  font-weight: 500;
  background-color: #d3d3d321;
  padding: 5px;
}
.questionHeaderLinkDivider {
  color: lightgray;
}

.question {
  /* //color: #4271ca; */
  font-weight: 500;
  margin: 15px 0px 20px 0px;
}
.questionChoice {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #c3cfda1f;

  margin-bottom: 2px;
  border: 1px solid #d2d5da;
}
.questionChoiceRadio {
  width: 20px;
  height: 20px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 20px;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}
.questionChoiceText {
  flex: 1;
}
.shareQuestion {
  margin: 20px 0px 5px 0px;
  color: #736a6a;
  display: flex;
  align-items: center;
}

.questionChoiceRadioIcon {
  color: green;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adminQuestionChoiceCorrect {
  background-color: #93ca93a6;
}
.questionAuthor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.questionAuthorImage {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.questionAuthorName {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.questionAuthorNameTime {
  color: lightgray;
  margin-top: 5px;
  font-size: 12px;
}
.questionAuthorMore {
  display: flex;
  justify-content: flex-end;
  width: 50px;
  border-radius: 50%;
  color: gray;
}
