.questionContainer {
  width: 100%;
}
.questionWrapper {
  padding: 20px;
  background-color: white;
  margin-top: 5px;
}
.questionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}
.questionHeaderLink {
  color: #4c8bca;
  font-weight: 500;
}
.questionHeaderLinkDivider {
  color: lightgray;
}

.question {
  /* //color: #4271ca; */
  font-weight: 500;
  margin: 15px 0px 20px 0px;
}
.questionChoice {
  width: 75%;
  display: flex;
  align-items: center;
  background-color: #c3cfda1f;
  padding: 8px;
  margin-bottom: 2px;
  border: 1px solid #d2d5da;
}
.questionChoiceRadio {
  width: 20px;
  height: 20px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 20px;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.questionChoiceText {
  flex: 1;
}
.shareQuestion {
  margin: 20px 0px 5px 0px;
  color: #736a6a;
  display: flex;
  align-items: center;
}

.questionChoiceRadioIcon {
  color: green;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adminQuestionChoiceCorrect {
  background-color: #93ca93a6;
}
