.topicContainer {
  width: 100%;
}
.topicWrapper {
  margin: auto;

  max-width: 520px;
  display: flex;
  flex-direction: column;
}

.topicType {
  width: 100%;
  display: flex;
  border-bottom: 1px solid lightgray;
  background-color: white;
  border: 1px solid #e0dfdc;
  box-sizing: border-box;
}
.topicTypeItem {
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  color: #00000099;
  font-weight: bold;
}
.topicTypeItemActive {
  flex: 1;

  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  font-weight: 700;
  color: #4c8bca;
}
