.topicContainer {
  width: 100%;
  min-height: 100%;
}
.topicWrapper {
  margin: auto;
  min-height: 100vh;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.topicLink {
  /* background-color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  color: brown;
  font-size: large;
  font-weight: bold; */
  display: flex;
  text-decoration: none;
  color: #4c8bca;
  font-size: large;
  font-weight: 500;
  align-items: center;
  padding: 10px 20px;
}
.topicWrapper a {
  text-decoration: none;
}

.subjectFolderIcon {
  font-size: 25px;
  margin-right: 5px;
}
.titleContainer {
  background-color: white;
  border-bottom: 1px solid lightgrey;
}
.title {
  padding: 20px;
}

.topicType {
  width: 100%;
  display: flex;
  border-bottom: 1px solid lightgray;
}
.topicTypeItem {
  flex: 1;
  text-align: center;
  padding: 10px;
}
.topicTypeItemActive {
  flex: 1;
  text-align: center;
  padding: 10px;
  font-weight: 700;
  color: #092f4a;
  border-bottom: 3px solid #092f4a;
}
