.performanceContainer {
  width: 100%;
  margin-top: 5px;
}
.performanceWrapper {
  margin: auto;
  min-height: 100vh;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e0dfdc;
  box-sizing: border-box;
}
.subjectLink {
  background-color: white;
  padding: 15px;

  display: flex;
  align-items: center;
}
.topicWrapper a {
  text-decoration: none;
}

.subjectFolderIcon {
  font-size: 25px;
  margin-right: 5px;
}

.subjectLink {
  background-color: white;
  padding: 15px;

  display: flex;
  align-items: center;
}
.topicWrapper a {
  text-decoration: none;
}

.subjectFolderIcon {
  font-size: 25px;
  margin-right: 5px;
}
.performanceHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: white;
  font-size: 0.8rem;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
}
.performance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: white;
  font-size: 0.8rem;
  border-bottom: 1px solid lightgrey;
}

.loadingContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.performanceSubjectText {
  width: 100px;
}
.performanceFields {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 60px;
}

.titleContainer {
  background-color: white;
}
.title {
  padding: 20px;
}
