.homeContainer {
  width: 100%;

  min-height: 100%;
}
.homeWrapper {
  margin: auto;
  height: 800px;
  max-width: 520px;
}

.homeTitleContainer {
  background-color: white;
  border-bottom: 1px solid lightgray;
}
.homeTitle {
  padding: 20px;
}
