.profileContainer {
  width: 100%;
  min-height: 100%;
}
.profileWrapper {
  margin: auto;
  background-color: white;
  max-width: 520px;

  display: flex;
  flex-direction: column;
}
.logoutButton {
  width: 80px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  padding: 5px;
  color: #ca4a4a;
  border: 1px solid #ca4a4a;
  border-radius: 10px;

  font-weight: bold;
}

.conditionsFooter {
  text-align: center;
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.blankSpace {
  margin: 0px 5px;
}
.moreFeatures {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}
.profilePhoto {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: auto;
  margin-top: 10px;
}
.userName {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin: auto;
  margin-top: 10px;
}
.questionDivider {
  margin-top: 10px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}
