.headerContainer {
  width: 100%;
  background-color: #092f4a;
  box-sizing: border-box;
  top: 0px;
  position: fixed;
}
.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;

  max-width: 800px;
  background-color: white;
}
.headerLeft {
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 28px;
  font-weight: bold;
  color: #ca4242;
}
.headerLeftLogo {
  height: 40px;
}

.headerMenu {
  display: flex;
  max-width: 800px;
  margin: auto;
  padding: 0px;
  justify-content: space-between;
  align-items: center;
}
.headerMenuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 10px 10px;
}
.headerMenuItem a {
  text-decoration: none;
  color: #bbb2b2;
  /* color: #c0ff5e; */
}
.headerMenuItem .headerMenuActiveLink {
  text-decoration: none;
  /* color: #4271ca; */
  color: white;
}
.headerMenuLink {
  display: flex;
  align-items: flex-end;
}
.headerMenuLinkText {
  margin-left: 2px;
  font-weight: bold;
}
.headerMenuIcon {
  font-size: 28px;
  font-weight: lighter;
}
.headerProfileImage {
  width: 24px;
  border-radius: 50%;
}

.logo {
  font-family: "Quando", serif;
  font-size: 24px;
  /* color: #4271ca; */
  color: white;
  font-weight: bold;
}

@media only screen and (max-width: 700px) {
  .headerMenuLinkText {
    display: none;
  }
}

.betaMessage {
  width: 100%;
  padding: 3px 0;

  background-color: rgb(163, 163, 38);
  font-weight: 700;
  text-align: center;
}
