.headerContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  top: 0px;
  position: sticky;
  border-bottom: 1px solid #e0dfdc;
  border-top: 1px solid #e0dfdc;
}
.headerWrapper {
  display: flex;
  height: 55px;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  max-width: 980px;
  background-color: white;
}

.search {
  display: flex;
  width: 100%;
  min-width: 200px;
  max-width: 240px;
  border-radius: 2px;
  padding: 3px 10px;
  flex-direction: row;
  border: 1px solid #e0dfdc;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 10px;
}
.searchIcon {
  color: #00000099;
}
.searchInput {
  border: none;
  max-width: 150px;
  font-size: 1rem;
  font-weight: 500;
  padding: 5px 5px;
  color: #00000099;
}
.searchInput:focus {
  outline: none;
}

.headerLeftLogo {
  height: 40px;
}

.headerMenu {
  display: flex;

  margin: auto;
  padding: 0px;
  justify-content: center;
  align-items: center;
}
.headerMenuItem {
  display: flex;
  height: 100%;
  padding: 0px;
}

.headerMenuLink {
  display: flex;
  width: 90px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.headerMenuLinkText {
  margin-top: 3px;
  font-size: 0.8rem;
  font-weight: 400;
}
.headerMenuIcon {
  font-size: 24px;
  font-weight: lighter;
}
.headerProfileImage {
  width: 35px;
  border-radius: 50%;
  margin: 10px 10px 10px 0px;
}

.logo {
  font-family: "Quando", serif;
  font-size: 30px;
  color: black;
  font-weight: bold;
  margin-left: 10px;
}

.headerMenuItem a {
  text-decoration: none;
  color: #00000099;
  /* color: #c0ff5e; */
}
.headerMenuItem .headerMenuActiveLink {
  text-decoration: none;
  color: #4c8bca;
  padding: 5px 0px;
  border-bottom: 2px solid #4c8bca;
}
.headerMenuMobile {
  display: none;
}
.headerWrapperMobile {
  display: none;
}

.login {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #4ca4e7;
  text-decoration-line: none;
  color: white;
  text-decoration: none;
  border-radius: 2px;
  font-weight: 500;
}
.loginLink {
  text-decoration-line: none;
  text-decoration: none;
}
@media only screen and (max-width: 700px) {
  .headerWrapper {
    display: none;
  }

  .headerWrapperMobile {
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .headerMenuLinkText {
    font-size: 0.5rem;
  }
  .headerMenu {
    display: none;
  }
  .headerMenuMobile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #00000014;
  }
  .headerMenuMobile .headerMenuItem {
    flex: 1;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 8px 0px;
  }
  .headerMenuMobile .headerMenuItem .headerMenuLink {
    flex: 1;
    width: auto;
  }
  .headerMenuMobile .headerMenuItem .headerMenuActiveLink {
    border: none;
  }
  .logo {
    font-size: 24px;
    font-weight: bolder;
  }

  .loginLink {
    text-decoration-line: none;
    text-decoration: none;
  }
  .searchIconMobile {
    margin-left: 20px;
    font-size: 22px;
    color: #00000099;
  }
  .headerProfileImage {
    width: 24px;
    margin-right: 20px;
  }
}
