.getQuestionsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.getQuestionsLoadmoreUser {
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 50px;
  font-weight: 600;
  color: #00000099;
}
