.getQuestionsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.getQuestionsLoadmore {
  width: 90%;
  background-color: white;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
  font-weight: 600;
  color: #1b6c79;
}
