* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
html {
  /* background-color: #f3f2ef; */
  background-color: #f3f2ef;
}
.messageToUser {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  font-weight: bold;
  color: #00000099;
}
