.questionContainerUser {
  width: 100%;
  border: 1px solid #e0dfdc;
  box-sizing: border-box;
  margin-top: 5px;
}
.questionWrapperUser {
  padding: 20px;
  background-color: white;
}
.questionHeaderUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}
.questionHeaderLinkUser {
  text-decoration: none;

  color: white;

  font-weight: 500;
  background-color: #4c8bca;

  border-radius: 5px;
  padding: 5px;
}

.questionHeaderLinkDividerUser {
  color: lightgray;
}
.questionHeaderDateUser {
  color: #8c7474;
  font-size: small;
}
.questionUser {
  color: #00000099;
  font-weight: 700;
  margin: 15px 0px 20px 0px;
}
.questionChoiceUser {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #c3cfda0d;
  margin-bottom: 2px;
  border-radius: 5px;
  border: 1px solid #d2d5da;
  color: #00000099;
}
.questionChoiceRadioUser {
  width: 20px;
  height: 20px;
  padding: 5px 8px 5px 5px;

  border-right: 2px solid #d2d5da;

  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 12px 8px 8px;
}
.questionChoiceTextUser {
  display: flex;
  flex: 1;

  font-weight: 500;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.shareQuestionUser {
  margin: 20px 0px 5px 0px;
  color: #8c7474;
  display: flex;

  align-items: center;
}
.questionResultIcon {
  width: 20px;
  height: 20px;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0px 8px 0px;
}

.questionChoiceRadioIconUser {
  color: green;
  width: 20px;
  height: 20px;
  margin: 0px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.questionChoiceWrongRadioIconUser {
  color: red;
  width: 20px;
  height: 20px;
  margin: 0px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.questionChoiceCorrectUser {
  color: green;
  pointer-events: none;
  font-weight: bold;
}
.questionChoiceWrongUser {
  color: red;
  pointer-events: none;
  font-weight: bold;
}
.disableChoiceUser {
  pointer-events: none;
}

.shareQuestionUser {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  color: #4c8bca;
  font-size: small;
  font-weight: 500;

  padding: 5px;
  border-radius: 5px;
}
.shareButtons {
  margin-right: 10px;
}
.questionAuthor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.questionAuthorImage {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.questionAuthorName {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
}
.questionAuthorNameTimeUser {
  color: #00000099;
  margin-top: 5px;
  font-size: 12px;
}
.questionAuthorMore {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  color: gray;
}
.moreIcon {
  font-size: 24px;
  color: #00000099;
}
.questionDelete {
  display: flex;
  background-color: red;
  font-weight: bold;
  color: white;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}
.questionDeleteChoice {
  text-align: center;
  width: 60px;
  background-color: white;
  border-radius: 5px;
  margin-left: 5px;
  padding: 5px;
  color: grey;
}

.questionFooterUser {
  display: flex;
  padding-top: 10px;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 10px;
}
.questionFooterVoteSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.voteButton {
  font-size: 20px;
  color: #00000099;
}
.voteButtonUpVoted {
  font-size: 20px;
  color: #4c8bca;
}
.voteCount {
  margin: 0px 5px;
  font-weight: bold;
  color: grey;
}
.voteCountUpVoted {
  color: #4c8bca;
}
.questionFooterCommentSection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.commentCount {
  margin-left: 5px;
}
.commentIcon {
  font-size: 24px;
  color: #00000099;
}
.shareIcon {
  margin-right: 5px;
  font-size: 24px;
  color: #00000099;
}
